<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Angular Demo 06</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="TaskManager">

<div class="container" ng-controller="TaskCtrl as taskCtrl">
    <h2>Tasks</h2>
    
	<ul>
	    <li ng-repeat="task in taskCtrl.tasks">{{ task.name }} <a ng-click="taskCtrl.editTask(task)">update</a> <a ng-click="taskCtrl.deleteTask(task)">delete</a></li>
	</ul>

    <form role="form" name="upsertTaskForm" ng-submit="taskCtrl.upsertTask(taskCtrl.task)">
        <br>
        
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" ng-model="taskCtrl.task.name" ng-model-options="{ updateOn: 'submit' }">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- app -->
<script src="js/app.js"></script>

<!-- controllers -->
<script src="js/controllers/taskCtrl.js"></script>

<!-- factories -->
<script src="js/factories/taskFactory.js"></script>

</body>
</html>